.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  background-color: #FFFFFF;
}

body {
  font-size: 13px;
  background-color: #FAFAFA;
}

a {
  color: #FF6600;
}

ul {
    list-style: none;
    padding: 0px;
}

ul li:before {
    content: '\00BB';
    margin: 0 1em;    /* any design */
}

h3 {
  margin-top:30px;
}

.greybar {
  margin-top: 35px;
  margin-right:20px;
  width:25px;
  height:5px;
  background-color: #eaeaea;
  border-radius: 2px;
  float: left;
}

.greybar_long {
  margin-left: auto;
  margin-right:auto;
  width:80%;
  height:5px;
  background-color: #eaeaea;
  border-radius: 2px;
}

.centered {
    text-align:center;
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.marginlr {
  margin-left:5px;
  margin-right:5px;
}

