<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  
  <head>
	  <title>libCello</title>
	
	  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	  <meta name="description" content="libCello Official Website" />
	  <meta name="keywords" content="libCello, Cello, C, language" />
	
	  <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
	  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
	  <link rel="stylesheet" href="/static/css/code.css" type="text/css" />
	  <link rel="icon" type="image/png" href="/static/img/libcello_icon.png" />
	
	  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
	
  </head>

  <body>
      {{ content }}
  </body>

</html>
